absl-py==0.11.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.4.1
astroid==2.5.1
astunparse==1.6.3
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.2.0
bokeh==2.2.3
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
charset-normalizer==2.0.9
colorama==0.4.3
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
Django==3.2.8
dm-tree==0.1.6
entrypoints==0.3
flatbuffers==2.0
future==0.18.2
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.33.2
gunicorn==20.1.0
h5py==2.10.0
idna==2.10
imagecorruptions==1.1.2
imageio==2.9.0
imbalanced-learn==0.8.1
imblearn==0.0
imgaug==0.2.9
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.7.0
jedi==0.17.2
jieba==0.42.1
Jinja2==2.11.2
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
keras==2.8.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.5.2
libclang==13.0.0
line-bot-sdk==1.20.0
lineNotify==1.0.0
llvmlite==0.37.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
mpmath==1.2.1
nbclient==0.5.0
nbconvert==6.0.3
nbformat==5.0.7
nest-asyncio==1.4.0
networkx==2.6.3
notebook==6.1.4
numba==0.54.1
numpy==1.22.3
oauthlib==3.1.0
opencv-contrib-python==4.4.0.46
opencv-python==4.4.0.46
opt-einsum==3.3.0
packaging==20.4
pandas==1.2.3
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycocotools==2.0.2
pycparser==2.20
Pygments==2.7.1
pylint==2.7.2
pyparsing==2.4.7
pypiwin32==223
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
PyWavelets==1.2.0
pywin32==228
pywinpty==0.5.7
PyYAML==6.0
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.19.1
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.1
Send2Trash==1.5.0
Shapely==1.8.0
six==1.15.0
sqlparse==0.4.2
sympy==1.7
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.8.0
tensorflow-gpu-estimator==2.3.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-model-optimization==0.5.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==2.1.0
tidecv==1.0.1
tifffile==2021.11.2
toml==0.10.2
tornado==6.0.4
tqdm==4.54.1
traitlets==5.0.4
transitions==0.8.10
typing-extensions==3.10.0.2
urllib3==1.25.11
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
